<mat-toolbar color="primary" [ngClass]="{ smallScreen: smallScreen }">
      
  <!-- Menu Icon -->
  <div *ngIf="smallScreen">
    <button mat-icon-button 
      (click)="onToggleSidenav()" 
      [ngClass]="{ smallScreen: smallScreen }">
    <mat-icon>menu</mat-icon>
  </button></div>
  
  <!-- Page Title -->
  <div><a routerLink="/">Fitness Tracker</a></div>

  <!-- Links -->
  <div id="links" *ngIf="!smallScreen">
    <a routerLink="/signup" *ngIf="!(isAuth$ | async)">Signup</a>
    <a routerLink="/login" *ngIf="!(isAuth$ | async)">Login</a>
    <a routerLink="/training" *ngIf="(isAuth$ | async)">Training</a>
    <button mat-flat-button color="accent" *ngIf="(isAuth$ | async)"
      (click)="onLogout()">Logout</button>
  </div>
</mat-toolbar>