<section>

  <!-- Signup Form -->
  <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">

    <!-- Email -->
    <mat-form-field floatLabel="auto">
      <mat-label>email address</mat-label>
      <input matInput type="email" ngModel name="email" email required #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">e-mail is required</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">e-mail is invalid</mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field hintLabel="minimum length of 6 characters">
      <mat-label>password</mat-label>
      <input matInput type="password" ngModel name="password" required minlength="6"
       #pwInput="ngModel">
      <mat-hint align="end">{{ pwInput.value?.length }}</mat-hint>
      <mat-error>password is invalid</mat-error>
    </mat-form-field>

    <!-- Birth Date -->
    <mat-form-field>
      <mat-label>birth date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="mm/dd/yyyy" [max]="maxDate" ngModel name="birthdate" required>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint>must be at least 18 years old</mat-hint>
      <mat-error>birth date is required</mat-error>
    </mat-form-field>

    <!-- Terms and Conditions -->
    <mat-checkbox ngModel name="agree" color="primary" #terms>Agree to Terms and Conditions</mat-checkbox>
    
    <!-- Submit -->
    <button mat-raised-button 
     color="primary" 
     type="submit" 
     id="submitBtn"
     [disabled]="!terms.checked || signupForm.invalid"
     *ngIf="!(isLoading$ | async)">
     Submit
    </button>

    <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
  </form>
</section>