mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  min-width: 200px;
  width: 25%;
  padding: 1rem;
}

main {
  padding: 1rem;
}

// Angular Media Query for reference
// @media screen and (max-width: 650px) {
//   .content {
//     flex-direction: column;
//     width: max-content;
//   }

//   .divider {
//     height: 1px;
//     width: 100%;
//     background: var(--red-to-pink-to-purple-horizontal-gradient);
//     margin-block: 1.5rem;
//   }
// }
