// Trying to make the card body full height, or at least taller
// none of these work
mat-tab-group {
  height: 100%;
}

mat-tab {
  height: 100%;
}

.mat-mdc-tab-body-wrapper {
  height: 100%;
}

mat-tab-body {
  height: 100%; 
}

.mat-mdc-tab-body-content {
  height: 100%;
}

app-new-training, app-past-trainings, app-current-training {
  padding: 1rem;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  height: 100%;
}

